# Homework 2

## Part 1

### 1)

In [1]:
#creating list
pnts = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2)

In [2]:
#Printing the length of the planet list
num_pnts = len(pnts)
print(f'There are {num_pnts} planets')

There are 8 planets

### 3)

In [3]:
#Taking first half of the planets
rockies = pnts[:4]
rockies_str = ', '.join(map(str, rockies))
print('The rocky planets are ' + rockies_str)

The rocky planets are Mercury, Venus, Earth, Mars

### 4)

In [4]:
#iterating through planet list and adding them to a new list if they end in w
s_list = []
for i in range(len(pnts)):
    if pnts[i][-1] == 's':
        s_list.append(pnts[i])
s_list_str = ', '.join(map(str, s_list))
print('The planets that end in s are: ' + s_list_str)

The planets that end in s are: Venus, Mars, Uranus

## Part 2

#### Problems 1-4

In [5]:
import math

#degree conversion functions
def ktoc(degk):
    ''' Convert Kelvin to Celsius'''
    degc = degk - 273.15
    return degc


def ctok(degc):
    ''' Convert Celsius to Kelvin '''
    degk = degc + 273.15
    return degk

#Unless told otherwise, it is assumed the temp is in Celsius
def tof(deg, unit=None):
    ''' Convert Celsius or Kelvin to Fahrenheit'''
    if unit == 'K':
        deg = ktoc(deg)
    degf = (deg * (9/5) + 32)
    return degf

#Fahrenheit to Kelvin or Celsius
def tock(degf, unit):
    ''' Convert Fahrenheit to Celsius or Kelvin '''
    #Farenheit to Celsius
    deg = ((degf - 32) * (5/9))
    #Celsius to Kelvin if wanted
    if unit == 'K':
        deg = ctok(deg)
    return deg

In [6]:
'''testing temp conversion functions'''
#To Fahrenheit
test1 = (tof(0))
print(f'0 degrees Celsius is {test1} degrees Fahrenheit')
test2 = (tof(40, 'C'))
print(f'40 degrees Celsius is {test2} degrees Fahrenheit')
test3 = (tof(300, 'K'))
print(f'300 degrees Kelvin is {test3:.2f} degrees Fahrenheit')

#To Kelvin/Celsius
test4 = tock(85, 'C')
test5 = tock(85, 'K')
print(f'85 degrees Fahrenheit is {test4:.2f} degrees Celsius and {test5:.2f} degrees Kelvin')

0 degrees Celsius is 32.0 degrees Fahrenheit
40 degrees Celsius is 104.0 degrees Fahrenheit
300 degrees Kelvin is 80.33 degrees Fahrenheit
85 degrees Fahrenheit is 29.44 degrees Celsius and 302.59 degrees Kelvin

#### Problems 5-6

In [7]:
#meter conversion functions
def tomet(ft,inch):
    '''Convert ft and inches to meters'''
    meter = (.3048 * ft) + (0.0254 * inch)
    return meter
    
test6 = tomet(6,3)
print(f'6 foot 3 inches is equivalent to {test6:.3f} meters')

def toftin(m):
    dec = m * 3.281
    ft = math.floor(dec)
    rem = dec - ft
    inch = rem * 12
    return(ft, inch)

6 foot 3 inches is equivalent to 1.905 meters

#### Problem 7

In [8]:
'''Testing meter conversions'''
#meters to ft & in
test7 = toftin(2)
print(f'2 meters is equivalent to: {test7[0]} feet and {test7[1]:.2f} inches')

#Testing the round trip conversion with three inputs
inputm1 = 1.5
inputm2 = 2
inputm3 = 2.2

ftin1 = toftin(inputm1)
ftin2 = toftin(inputm2)
ftin3 = toftin(inputm3)

finalm1 = tomet(ftin1[0], ftin1[1])
finalm2 = tomet(ftin2[0], ftin2[1])
finalm3 = tomet(ftin3[0], ftin3[1])

print(f'Doing a round trip conversion on {inputm1}m, resulted in a final value of: {finalm1:.2f}m')
print(f'Doing a round trip conversion on {inputm2}m, resulted in a final value of: {finalm2:.2f}m')
print(f'Doing a round trip conversion on {inputm3}m, resulted in a final value of: {finalm3:.2f}m')

2 meters is equivalent to: 6 feet and 6.74 inches
Doing a round trip conversion on 1.5m, resulted in a final value of: 1.50m
Doing a round trip conversion on 2m, resulted in a final value of: 2.00m
Doing a round trip conversion on 2.2m, resulted in a final value of: 2.20m